.tablePeople{
    position: relative;
    height:350px;
    overflow:auto;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    word-wrap: break-word;
    background-color: white;	
    display: block;
    transition: 0.15s;
    max-width: 100%;
    width: 100%; 
    top: -80px;
&.tablePeople td, &.tablePeople th{
    text-align: center;
    padding: 8px;
    max-width: 100%;
    width: 1000px;
    border-top: 50px;

}
&.tablePeople td{
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
    overflow:auto;
    max-width: 100%;
    width: 1000px;
}
&.tablePeople th{
    color: #ffffff;
    background: #140e55ad;
    font-size: 15px;
    max-width: 100%;
    width: 1000px;
}
tr:hover {  
    background-color: #cccccc 
}

&.tablePeople tr:nth-child(even){
    background: #F8F8F8;
    &:hover { 
        background-color: #cccccc 
    }
}
&.tdPeople{
    max-width: 100%;
    width: 1000px;
}
}