.textPost{
  color: #eee;
font-family: Arial;
}
.postPeople {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  max-height: 125px;
  min-height: 50px;
  outline: 0;
  padding: 4px 20px 0;
  position: relative;
  width: 100%;
  resize:none;
  word-break: break-word;
  overflow: hidden;

  &::placeholder {
    font-weight:normal;
    opacity: 0.5;
    color: rgb(255, 254, 254);

}
  }

  